.userIdTest {
    position: absolute;
    top: 0;
    left: 0;
    color: white ;
    background-color: black;
}


.selectTest {
    position: absolute;
}

a {
    text-decoration: none;
    color: black;
}

#root {
    height: 100vh;
    width : 100vw;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #64113f;
   
}

.movvieListePage {
    color: white;
}
.pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 95vh;
}

.mangaListeContainer, .mangaCollectionContainer, .mangaLectureContainer {
    display: flex;
    overflow-y: scroll;
    flex-wrap: wrap;
}

h1 {
    font-size: 2.5rem;
    margin: 0;
    width: fit-content;
    padding: .5rem 2.5rem;
    background: #FFFFFF;
    border: 5px solid #131200;
    box-sizing: border-box;
    border-radius: 50px;
}

h2 {
    font-size: 1.5rem;
    margin: 0;
    width: fit-content;
    padding: .5rem 2.5rem;
    background: #FFFFFF;
    border: 5px solid #131200;
    box-sizing: border-box;
    border-radius: 50px;
}

.titrePage {
    margin-top: 1rem;
}
/*------------- buttons ----------*/
.buttonHeightHolder {
    position: relative;
    top: -30px;
    display: flex;
    flex-direction: column;
}
.clickableButton {
    font-weight: bolder;
    font-size: 1.5rem;
    margin: 1rem;
    width: fit-content;
    padding: .5rem 2.5rem;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 50px;
    box-shadow: 0 8px 1px black;
}


.clickableButtonPressed {
    transition-duration: 100ms;
    
    font-weight: bolder;
    
    font-size: 1.5rem;
    margin: 1rem;
    margin-bottom: .5rem;
    width: fit-content;
    padding: .6rem 2.5rem;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 50px;
    box-shadow: 0px 2px 1px 2px  black;

}

.backButton {
    position: relative;
    font-weight: bolder;
    font-size: 2rem;
    margin: 1rem;
    width: fit-content;
    padding: 0rem .7rem;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 50px;
    box-shadow: 0 8px 1px black;
    border: solid 1px black;
}

.backButtonPressed {
    transition-duration: 100ms;
    top: 6px;
    position: relative;
    font-weight: bolder;
    font-size: 2rem;
    margin: 1rem;
    width: fit-content;
    padding: 0rem .7rem;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 50px;
    box-shadow: 0 1px 1px black;
    border: solid 1px black;
}

.rotate p{
    transform: rotate(45deg);
}


.addButton  {
    top: -4.5rem;
    left: 6rem;
    position: relative;
    font-weight: bolder;
    font-size: 2rem;
    margin: 1rem;
    width: fit-content;
    padding: 0rem .7rem;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 50px;
    box-shadow: 0 8px 1px black;
    border: solid 1px black;

}
.addButtonClicked {
    transition-duration: 100ms;
    top: -4rem;
    box-shadow: 0 2px 1px black;

}

.exitButton {
    top: -1.5rem;
    left: -1rem;
    position: relative;
    font-weight: bolder;
    font-size: 2rem;
    margin: 1rem;
    width: fit-content;
    padding: 0rem .7rem;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 50px;
    box-shadow: 0 8px 1px black;
    border: solid 1px black;
}

.exitButtonClicked {
    top: -1rem;
    left: -1rem;
    box-shadow: 0 2px 1px black;

}

.addButton p {
    
    position: relative;
    margin: 0;
    text-align: center;
    bottom: 2px;
}

/*---------------- block et listes ----------------*/

.blockManga, .blockPlayliste{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    width: 40vw;
    height: 40vh;
    font-size: 1.2rem;
    border-radius: 25px;
    margin: 2rem 5vw;
    background-color: #fff;
    color: black;
    box-sizing: border-box;
    border: 3px black solid;
}

.blockManga p {
    font-size: 3rem;
    font-weight: bolder;
}

.titleBLockMangas {

}



.navBarContainer {
    height: 5vh ;
   
}

.navBar {
    height: 100%;
    width: 100vw;
    background: #FFFFFF;
    outline: 5px solid #131200;
    outline-offset: -5px;
    box-sizing: border-box;
    box-shadow: 0px 6px 4px #131200;
    border-radius: 31px 31px 0px 0px;
}

.modaleContainer, .modaleAddSerieContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #410b29b6;

}

.blockTomeDetails {
    border-left:  3px solid black;
    border-right:  3px solid black;
    border-bottom:  3px solid black;
    border-bottom-left-radius:  10px;
    border-bottom-right-radius:  10px;
}

/*--------------------add serie-----------------------*/

.addSerieColelction {
    margin-top:  1rem;
}

.blocAndAddButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blocAndAddButton .blockManga {
    margin-top: 0;
    margin-bottom: 0;

}


/*---------------error messages------------------*/

.noSeriesMessage {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-color: white;
    border-radius: 30px;
    width: 80vw;
    box-shadow: inset 0 0 11px 0px;
    border: rgba(0, 0, 0, 0.692) 1px solid;
}
.noSeriesMessage p{
    text-align: center;
    font-size: 2rem;
  
}
